.items-slider {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.items-slider .navigation-wrapper {
  transition:
    visibility 0.3s ease 0.3s,
    opacity 300ms ease 0.3s;
  display: block;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  top: calc(50% - 20px);
  transform: translateY(-50%);
  will-change: transform;
}

.items-slider .navigation-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

.items-slider .navigation-wrapper.visible {
  opacity: 1;
  visibility: visible;
}

.items-slider .navigation-wrapper.left {
  left: 0;
  transform: translate(calc(-50% + 0px), -50%);
}

.items-slider .navigation-wrapper.right {
  right: 0;
  transform: translate(calc(50% + 0px), -50%);
}

@media screen and (max-width: 640px) {
  .items-slider .navigation-wrapper.right {
    transform: translate(calc(50% + -15px), -50%);
  }

  .items-slider .navigation-wrapper.left {
    transform: translate(calc(-50% + 15px), -50%);
  }
}

.items-slider .navigation-wrapper .navigation {
  /* margin: 10px; */
  border-radius: 50%;
  background-color: #404040;
}

.items-slider .navigation-wrapper .navigation.dark {
  background-color: #4a5568;
}

.items-slider .navigation-wrapper .navigation.dark:hover {
  background-color: #4a5568; /* neutral-600 */
}

.items-slider .navigation-wrapper .navigation .button {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  box-sizing: border-box;
  justify-content: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  position: relative;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: #f7fafc; /* gray-200 */
  touch-action: manipulation;
  align-items: center;
  user-select: none;
  border: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

.items-slider .navigation-wrapper .navigation .button svg {
  width: 24px;
  height: 24px;
}

.items-slider .navigation-wrapper .navigation .button.dark {
  color: #e5e7eb; /* gray-200 */
}

.wrapper-items {
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  padding-top: 12px;
  margin-top: -4px;
  margin-bottom: -4px;
  will-change: scroll-position;
}

.wrapper-items .items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  white-space: nowrap;
}

.wrapper-items .items.carousel {
  flex-wrap: nowrap;
  padding-bottom: 32px;
  scroll-snap-type: x mandatory;
  scroll-padding: 48px;
  box-sizing: border-box;
  width: calc(100% + 88px);
  scrollbar-width: none;
  margin-bottom: -20px;
  margin-left: -44px;
  margin-right: -44px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: scroll;
  padding-top: 8px;
  scroll-behavior: smooth;
}

.wrapper-items .items.carousel::-webkit-scrollbar {
  display: none;
}

.wrapper-items .items .gap {
  min-width: 44px;
}

.wrapper-items .items.spotlights .item {
  display: flex;
  flex-shrink: 1;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrapper-items .item {
  font-family: inherit;
  box-sizing: border-box;
  scroll-snap-align: start;
  flex-shrink: 0;
  white-space: normal;
  display: flex;
  align-items: stretch;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.wrapper-items .item.selected .item-card {
  box-shadow: 0 2px 5px rgba(29, 78, 216, 0.5) !important;
}

@media (min-width: 300px) and (max-width: 640px) {
  .wrapper-items .carousel .item {
    width: calc((100% - 88px) / 2 - 8px);
  }
  .wrapper-items .grided .item {
    width: calc(100% / 2 - 8px);
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .wrapper-items .carousel .item {
    width: calc((100% - 88px) / 3 - 8px);
  }
  .wrapper-items .grided .item {
    width: calc(100% / 3 - 8px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper-items .carousel .item {
    width: calc((100% - 88px) / 4 - 8px);
  }
  .wrapper-items .grided .item {
    width: calc(100% / 4 - 8px);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .wrapper-items .carousel .item {
    width: calc((100% - 88px) / 5 - 8px);
  }
  .wrapper-items .grided .item {
    width: calc(100% / 5 - 8px);
  }
}

@media (min-width: 1281px) {
  .wrapper-items .carousel .item {
    width: calc((100% - 88px) / 5 - 8px);
  }
  .wrapper-items .grided .item {
    width: calc(100% / 5 - 8px);
  }
}
